@model ATCDatabaseApp.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div class="row">
    <hr />
    <dl class="dl-horizontal col-md-3">

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionNumber)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.VersionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hardware)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hardware)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Software)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Software)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenewalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenewalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATCStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATCStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISContact.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorInfo)
        </dd>

    </dl>

    <div class="col-md-3">
        <dl class="dl-horizontal">
            <dt><u>Accessibility</u></dt>
            <dd></dd>
            <dt>
                @Html.DisplayNameFor(model => model.Accessibility.Dragon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accessibility.Dragon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Accessibility.Jaws)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accessibility.Jaws)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Accessibility.Kurzweil)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accessibility.Kurzweil)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Accessibility.NVDA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accessibility.NVDA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Accessibility.Zoomtext)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accessibility.Zoomtext)
            </dd>
        </dl>
        @Html.ActionLink("Edit Accessibility", "Edit", "Accessibilities", new { id = Model.ID }, new { @class = "btn btn-default", @style = "margin-left:15%;" })

    </div>

    <dl class="dl-horizontal col-md-3">
        <dt><u>Attachments</u></dt>
        <dd></dd>
        @{ 
            foreach(var item in Model.Attachments)
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => item.FileName)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.FileName)
                </dd>
            }
        }
    </dl>

    <dl class="dl-horizontal col-md-3">
        <dt><u>Requesters</u></dt>
        <dd></dd>
        @{ 
            foreach(var item in Model.ProductRequests)
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => item.Requester.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Requester.Name)
                </dd>
               <dt>
                   @Html.DisplayNameFor(modelItem => item.Requester.Department)
               </dt>
               <dd>
                   @Html.DisplayFor(modelItem => item.Requester.Department.Name)
               </dd>

            }
        }
    </dl>
</div>

<div class="row">
    <p>



        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to Products", "Index")
    </p>
</div>
