@model ATCDatabaseApp.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal col-md-4">

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hardware)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hardware)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Software)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Software)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenewalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenewalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATCStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATCStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISContact.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorInfo)
        </dd>

    </dl>

    <dl class="dl-horizontal col-md-4">
        <dt>
            @Html.DisplayNameFor(model => model.Accessibility.Dragon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessibility.Dragon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessibility.Jaws)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessibility.Jaws)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessibility.Kurzweil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessibility.Kurzweil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessibility.NVDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessibility.NVDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessibility.Zoomtext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessibility.Zoomtext)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Products", "Index")
</p>
