@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ATC Product Database</h1>
    <p cless="lead">Record data on all CBC's products</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Query the database</h2>
        <p>@Html.ActionLink("Query Products", "QueryProducts", "Home")</p>
        <p>@Html.ActionLink("Query Accessibilities", "Index", "Accessibilities")</p>
        <p>@Html.ActionLink("Query Attachments", "Index", "Attachments")</p>
        <p>@Html.ActionLink("Query Departments", "Index", "Departments")</p>
        <p>@Html.ActionLink("Query IS Contacts", "Index", "ISContacts")</p>
        <p>@Html.ActionLink("Query Product Requests", "Index", "ProductRequests")</p>
        <p>@Html.ActionLink("Query Requesters", "Index", "Requesters")</p>
    </div>
    <div class="col-md-4">
        <h2>Add New Entries</h2>
        <p>@Html.ActionLink("Attachments Database", "Create", "Attachments")</p>
        <p>@Html.ActionLink("Departments Database", "Create", "Departments")</p>
        <p>@Html.ActionLink("IS Contact Database", "Create", "ISContacts")</p>
        <p>@Html.ActionLink("Products Database", "Create", "Products")</p>
        <p>@Html.ActionLink("Product Requests Database", "Create", "ProductRequests")</p>
        <p>@Html.ActionLink("Requesters Database", "Create", "Requesters")</p>
    </div>
    <div class="col-md-4">
        <h2>Edit Existing Entries</h2>
        <p>@Html.ActionLink("Accessibilities Database", "Index", "Accessibilities")</p>
        <p>@Html.ActionLink("Attachments Database", "Index", "Attachments")</p>
        <p>@Html.ActionLink("Departments Database", "Index", "Departments")</p>
        <p>@Html.ActionLink("IS Contact Database", "Index", "ISContacts")</p>
        <p>@Html.ActionLink("Products Database", "Index", "Products")</p>
        <p>@Html.ActionLink("Product Requests Database", "Index", "ProductRequests")</p>
        <p>@Html.ActionLink("Requesters Database", "Index", "Requesters")</p>
    </div>
</div>